@use './variables' as v;

@mixin input-style {
    border-radius: v.$border-radius-sm;
    border: 1px solid v.$border-color-light;
    padding: 0.375rem 0.675rem;
    &:focus {
        outline: none;
    }
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}