@use './variables' as v;
@use './default';
@use 'components/header';
@use 'components/menu-dialog';
@use 'components/title';
@use 'components/form';
@use 'components/footer';

header {
    .menu-item:nth-child(2) {
        font-weight: bold;
    }
}

dialog {
    .modal-menu {
        li:nth-child(2) {
            span {
                font-weight: bold;
            }
        }
    }
}

main {
    .container {
        max-width: 768px;

        .title-container {
            max-width: 320px;
            align-self: center;
        
            @media screen and (min-width: 768px) {
                align-self: flex-start;
            }
        }
    }
}
