@use '../variables' as v;
@use '../mixins' as m;
@use '../default';

footer {
    @include m.flex-center();
    height: 3.75rem;
    color: v.$text-default-color;
    text-align: center;

    p {
        font-size: v.$font-size-sm;
    }
}
