@use '../variables' as v;
@use '../mixins' as m;
@use '../default';

footer {
    @include m.flex-center();
    height: 3.75rem;
    color: v.$color-light;
    text-align: center;

    p {
        font-size: 0.75rem;
    }
}
