@use '../variables' as v;
@use '../mixins' as m;
@use '../default';

footer {
    @include m.flex-center();
    height: 60px;
    color: v.$color-light;
    text-align: center;
    
    p {
        font-size: 12px;
    }
}