@use '../variables' as v;
@use '../default';

header {
    padding: 1rem 0 0.5rem;
    height: 64px;
    border-bottom: 1.5px solid v.$border-color-light;

    .container {
        flex-direction: row;
        justify-content: space-between;
    }

    .logo-container {
        img {
            width: 32px;
        }
    }

    .menu-container {
        display: none;

        @media screen and (min-width: 1024px) {
            display: flex;
            align-items: center;

            .menu {
                display: flex;
                gap: 50px;

                .menu-item {

                    &:hover {
                        text-decoration: underline;
                    }

                    a {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .menu-hamburger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.25rem;
        height: 32px;
        width: 32px;
        border-radius: 0.375rem;
        border: 1px solid v.$border-color-light;
        cursor: pointer;

        .bar {
            width: 16px;
            height: 2px;
            background-color: v.$label-gray-color-light;
            border-radius: 1px;
        }

        @media screen and (min-width: 1024px) {
            display: none;
        }
    }
}
