@use '../variables' as v;
@use '../mixins' as m;
@use '../default';

header {
    padding: 1rem 0 0.5rem;
    height: 4rem;
    border-bottom: 1.5px solid #d1d9e0;

    .container {
        flex-direction: row;
        justify-content: space-between;
    }

    .logo-container {
        img {
            width: 2rem;
        }
    }

    .menu-container {
        display: none;

        @media screen and (min-width: 1024px) {
            display: flex;
            align-items: center;

            .menu {
                display: flex;
                gap: 50px;

                .menu-item {
                    &:hover {
                        text-decoration: underline;
                    }

                    a {
                        font-size: v.$font-size-md;
                    }
                }
            }
        }
    }

    .menu-hamburger {
        @include m.flex-center();
        flex-direction: column;
        gap: 0.25rem;
        height: 2rem;
        width: 2rem;
        border-radius: v.$border-radius-sm;
        border: v.$border-style;
        cursor: pointer;

        .bar {
            width: 1rem;
            height: 0.125rem;
            background-color: v.$text-gray-color;
            border-radius: 1px;
        }

        &:hover {
            background-color: v.$bg-light-gray-color;
        }

        @media screen and (min-width: 1024px) {
            display: none;
        }
    }
}
