@use '../variables' as v;
@use '../default';

dialog {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 80vw;
    height: 100%;
    background-color: v.$bg-light;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    border: none;
    border-radius: 0.25rem;
    transform: translateX(100vw);
    transition: transform 0.3s ease-in-out;

    &.show {
        transform: translateX(20vw);

        @media screen and (min-width: 768px) {
            transform: translateX(50vw);
        }
    }

    .modal-content {
        padding: 1rem;
        margin-top: 1rem;

        .modal-content__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.5rem 0.5rem 0 0.5rem;

            .close {
                cursor: pointer;

                img {
                    width: 1.375rem;
                }
            }
        }

        .modal-menu {
            list-style-type: none;
            padding: 0.5rem;

            li {
                margin: 1rem 0;

                a {
                    display: flex;
                    text-decoration: none;
                    font-size: 1rem;

                    img {
                        width: 1.5rem;
                        height: 1.5rem;
                    }

                    span {
                        margin-left: 0.375rem;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }

    @media screen and (min-width: 1024px) {
        display: none;
    }
}
